* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
#accordian{

	width:95%;
	margin:auto;
	margin-top: 100px;
}


@media (min-width: 760px) {
	#accordian{
		width: 60%;


	}
}
.accordian-headers {
	height: 80px;
	display: flex;
	align-items: center;
	background-color: #708777;
	margin:10px auto;
	color: #d7d2ce;
	padding: 0 20px;
	justify-content: space-between;
	font-family: 'Mountains of Christmas', cursive;
	font-size: 40px;
}
.toggle-indicator {
	font-size: 40px;
	color: #8f5d56;
	font-weight: bold;
}
.accordian-description {
	height: 0;
	background-color:#bdb09f;
	overflow: hidden;
	transition: height 1s;
	color:#8f5d56;
	font-size: 30px;
}
.accordian-open{
	height:100px;
	padding: 5px 2px;
}
body{
	background: url('images/winter.png');
	background-size: cover;
}
